body {
    font-family: 'Press Start 2P', cursive, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

#juego-contenedor {
    width: 900px;
    height: 200px;
    border: 5px solid #fff;
    background-color: #0056B3;
    position: relative;
    overflow: hidden;

    background-size: cover;
    background-position: center;

    transition: background-color 0.4s ease-in-out;
}

#nickname {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 0.8em;
    z-index: 200;

    text-shadow: 2px 2px 4px black;
}

#nivel {
    position: absolute;
    top: 35px;
    left: 10px;
    color: yellow;
    font-size: 0.8em;
    z-index: 200;

    text-shadow: 2px 2px 4px black;
}

#suelo {
    width: 100%;
    height: 30px;
    background: url('../img/suelo.png') repeat-x;
    background-size: auto 30px;
    position: absolute;
    bottom: 0;
    animation: moverSuelo 5s linear infinite;
}

@keyframes moverSuelo {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -900px;
    }
}

#pixel-bot {
    width: 50px;
    height: 50px;
    background: url('../img/pixelbot.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 50px;
    z-index: 10;

    filter: drop-shadow(2px 2px 4px black);
}

.saltando {
    animation: salto 0.6s ease-out forwards;
}

@keyframes salto {
    0% {
        bottom: 30px;
    }

    40% {
        bottom: 120px;
    }

    60% {
        bottom: 120px;
    }

    100% {
        bottom: 30px;
    }
}

.obstaculo {
    width: 30px;
    height: 50px;
    background: url('../img/obstaculo.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 900px;

    filter: drop-shadow(2px 2px 4px black);
}

#mensaje-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 100;

    backdrop-filter: blur(3px);
}

#puntuacion {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 1em;
    z-index: 100;

    text-shadow: 2px 2px 4px black;
}
